:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  --calc-container-padding: 1rem;
  --calc-container-max-width: 100%;
}

/* sm breakpoint */
@media (min-width: 640px) {
  :root {
    --calc-container-padding: 1rem;
    --calc-container-max-width: 640px;
  }
}

/* md breakpoint */
@media (min-width: 768px) {
  :root {
    --calc-container-padding: 1.5rem;
    --calc-container-max-width: 768px;
  }
}

/* lg breakpoint */
@media (min-width: 1024px) {
  :root {
    --calc-container-padding: 2rem;
    --calc-container-max-width: 1024px;
  }
}

/* xl breakpoint */
@media (min-width: 1280px) {
  :root {
    --calc-container-padding: 2.5rem;
    --calc-container-max-width: 1280px;
  }
}

/* 2xl breakpoint */
@media (min-width: 1536px) {
  :root {
    --calc-container-padding: 3rem;
    --calc-container-max-width: 1536px;
  }
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  justify-content: center;
  min-width: 320px;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}
